[submodule "wp-content/themes/ilme"]
	path = wp-content/themes/ilme
	url = git@github.com:JCO-Digital/jcore-ilme.git
	branch = hurricane

[submodule "wp-content/plugins/lohko"]
	path = wp-content/plugins/lohko
	url = git@github.com:JCO-Digital/jcore-lohko.git
[submodule "wp-content/plugins/jcore-maailma"]
	path = wp-content/plugins/jcore-maailma
	url = git@github.com:JCO-Digital/jcore-maailma.git
[submodule "wp-content/plugins/jcore-portti"]
	path = wp-content/plugins/jcore-portti
	url = git@github.com:JCO-Digital/jcore-portti.git
