name: Deploy site

on:
  push:
    branches:
      - main
      - block-theme

jobs:
  build:
    uses: jco-digital/deploy-wp-action/.github/workflows/build-project.yml@v3
    with:
      platform: ubuntu-latest
      fetch_submodules: true
      php_version: 8.2
      slack_channel: CU8LPT03W
    secrets: inherit
  deploy-main:
    needs: [build]
    if: github.ref == 'refs/heads/main'
    uses: jco-digital/deploy-wp-action/.github/workflows/server-deploy.yml@v3
    with:
      platform: ubuntu-latest
      server_url: kehitys@vs.bojaco.com
      base_path: files
      paths: >-
        wp-content/themes/ilme/:wp-content/themes/ilme/,
        wp-content/plugins/lohko/:wp-content/plugins/lohko/,
        wp-content/plugins/ruudukko/:wp-content/plugins/ruudukko/,
        wp-content/plugins/jcore-maailma/:wp-content/plugins/jcore-maailma/,
        wp-content/plugins/jcore-portti/:wp-content/plugins/jcore-portti/,
        vendor/:vendor/,
        wp-content/mu-plugins/module-loader.php:wp-content/mu-plugins/
      slack_channel: CU8LPT03W
    secrets: inherit
